.b input{
    padding: 10px;
    width: 30%;
    padding-right: 12px 20px;
      margin: 8px 0;
      bottom: 80px;
    
    display: inline-block;
    border: 1px solid #4BC38A;
    border-radius: 10px;
    box-sizing: border-box;
    }
    body{
        font-family: 'Open Sans', sans-serif;
        color: #4BC38A;
    background-color: #1E135E ;
    margin-left: 37%;
    margin-top: 5%;
    }
    button {
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      background-color: #4BC38A;
      color: #1E135E ;
      padding-right: 12px 20px;      
      margin: 8px 0;
      bottom: 80px;
      width: 30%;
      padding:1%;

      display: inline-block;
    border: 1px solid #4BC38A;
    border-radius: 10px;
    box-sizing: border-box;
  }